/* App specific overrides if any */
/* The main styles are in index.css and component css files */

main {
  position: relative;
  z-index: 1;
}

.bg-fluid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

